* {
  box-sizing: border-box;
}

body {
  background: white;
}

.uu {
  height: 256px;
  width: 256px;

  background: url("../generated_base/britons.png");
  background-size: 100% auto;
}

.mask {
  height: 256px;
  width: 256px;

  background: blue;
  background-size: 100% auto;

  -webkit-mask-image: url("../generated_masks/britons.png");

  mix-blend-mode: multiply;
}